<div class="checkbox mt-4 mb-2">
  <label>
    <%= f.check_box :admin %> Check if you are admin?
  </label>
</div>
<div class="form-floating">
  <%= f.text_field :name, class: "form-control", id: "floatingName", placeholder: "John Doe" %>
  <%= f.label :name, for: "floatingName" %>
</div>
<div class="form-floating">
  <%= f.email_field :email, class: "form-control", id: "floatingEmail", placeholder: "name@example.com" %>
  <%= f.label :email, for: "floatingEmail" %>
</div>
