<%= form_for user, url: signup_path do |f| %>
  <div class="form-floating">
    <%= f.text_field :name, class: "form-control", id: "floatingName", placeholder: "John Doe" %>
    <%= f.label :name, for: "floatingName" %>
  </div>
  <div class="form-floating">
    <%= f.email_field :email, class: "form-control", id: "floatingEmail", placeholder: "name@example.com" %>
    <%= f.label :email, for: "floatingEmail" %>
  </div>
  <div class="form-floating">
    <%= f.password_field :password, class: "form-control", id: "floatingPassword", placeholder: "**********" %>
    <%= f.label :password, for: "floatingPassword" %>
  </div>
  <div class="form-floating">
    <%= f.password_field :password_confirmation, class: "form-control", id: "floatingPasswordConfirmation", placeholder: "Confirm Password" %>
    <%= f.label :password_confirmation, for: "floatingPasswordConfirmation" %>
  </div>
  <div class="checkbox my-3">
    <label>
      <%= f.check_box :admin %> Check if you are admin?
    </label>
  </div>
  <div>
    <%= f.submit "Sign Up", class:"w-100 btn btn-lg btn-primary" %>
  </div>
  <p class="my-3 text-muted">&copy; 2021</p>
<% end %>
      